header {
  background-color: rgb(43,213,71);
  float: none;
  width: 500px;
  height: 50px;
  margin: 50px 50px;
}
div {
  background-color: green;
  float: left;
  width: 300px;
  height: 300px;
  margin: 10px 20px;

}
section {
  background-color: #00ff00;
  float: left;
  width: 60px;
  height: 60px;
  margin: 100px;
}
footer {
  clear: both;
  background-color: rgba(40,200,75,.3);
  height: 100px;
  width: 800px;
  margin: 20px;
}
td {
  background-color: green;
  height: 100px;
  width: 100px;
  margin: 10px;
}

ul {
  color: green;
}
